.footer {
    width: 100%;
    min-height: 319px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 95px;
    &-btn {
        background-color: #aee3ff;
        margin: 32px 0 80px;
        text-align: center;
        padding-top: 10px;
    }
    &-copyriting {
        width: 100%;
        max-height: 41px;
        background-color: #191919;
        color: white;
        text-align: center;
    }
}