.footer {
    width: 100%;
    min-height: 319px;
    color: #191919;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 95px;
    
    &-btn {
        width: 301px;
        height: 43px;
        border: none;
        background-color: #aee3ff;
        font-size: 18px;
        cursor: pointer;
        margin: 32px 80px;
    }
    &-copyriting {
        width: 100%;
        max-height: 41px;
        background-color: #191919;
        color: white;
        text-align: center;
    }
}