.header {
    background: url(../img/header-bg.png);
    background-size: cover;
    padding-top: 58px;
    max-width: 1920px;
    min-height: 1043px;
    &-logo {
        margin-left: 729px;
        width: 180px;
        height: 180px;
        position: relative;
        background-color: #350f2a;
        border-radius: 100%;
        top: -110px;
        &--img {
            width: 100px;
            height: 75px;
            position: absolute;
            top: 62px;
            left: 40px;
        }
    }
    &-form {
        max-width: 745px;
        height: 220px;
        background-color: #43033c;
    }
    &-input {
        max-width: 300px;
        height: 44px;
    }
}