.header {
    background: url(../img/header-bg.png) center;
    background-size: cover;
    padding-top: 58px;
    width: 100%;
    min-height: 1043px;
    font-size: 16px;
    &-container {
        margin: auto;
        max-width: 745px;
        padding-left: 200px;
    }
    &-logo {
        width: 180px;
        height: 180px;
        position: relative;
        background-color: #350f2a;
        border-radius: 100%;
        top: -110px;
        &--img {
            width: 100px;
            height: 75px;
            position: absolute;
            top: 62px;
            left: 40px;
            z-index: 1;
        }
    }
    &-content {
        margin-top: -90px;
        min-width: 744px;
        border: 1px solid red;
    }
    &-subtitle {
        text-transform: uppercase;
    }
    &-timer {
        display: flex;
        width: 100%;
        margin: 15px 0 45px 0;
        text-align: center;
        text-transform: uppercase;
        &--block {
            background-color: #aee3ff;
            opacity: 0.8;
            width: 175px;
            padding: 0 30px;
            height: 60px;
            font: 300 55px/1 'Roboto', sans-serif;
            @media all and (max-width: 790px) {
                font-size: 40px;
                width: 100px;
            }
        }
        &--el {
            margin-left: 25px;
        }
        &--el2 {
            margin-left: 10px;
        }
        &--name {
            margin-top: 10px;
        }
    }
    &-form {
        max-width: 745px;
        height: 220px;
        padding: 15px 0 0 35px;
        background-color: #43033c;
        &--row {
            display: flex;
        }
    }
    &-input {
        width: 300px;
        height: 44px;
        margin: 25px 0 0 25px;
        padding-left: 13px;
        &::placeholder {
            font-size: 18px;
            color: #191919;
        }
        @media all and (max-width: 790px) {
            width: 200px;
        }
    }
    &-btn {
        background-color: #aee3ff;
        margin: 25px 0 0 25px;
    }
    &-checkbox {
        color: white;
        margin: 18px 0 0 25px;
    }
}