.prizes {
    width: 100%;
    min-height: 586px;
    margin-top: -150px;
    color: #280a21;
    &-content {
        max-width: 1300px;
        margin: 0 auto 100px;
        text-align: center;
        position: relative;
    }
    &-cards {
        display: flex;
        justify-content: space-around;
        margin: auto;
        margin-top: 50px;
        max-width: 1064px;
    }
    &-item {
        max-width: 300px;
        max-height: 385px;
        margin-left: 80px;
        background-color: white;
        font-size: 18px;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
    }
    &-img {
        border-radius: 100%;
        width: 145px;
        height: 145px;
        margin: 40px auto 25px;
        overflow: hidden;
    }
    &-text {
        
        border: 1px solid blue;
        margin: 35px 20px 50px;
    }
    &-info {
        width: 215px;
        height: 215px;
        border-radius: 100%;
        color: white;
        background-color: #3c0336;
        position: absolute;
        font-size: 18px;
        right: -50px;
        bottom: -140px;
        text-align: center;
        padding-top: 40px;
        &--big {
            font-size: 40px;
            font-weight: 700;
        }
        &--span {
            font-size: 20px;
            font-weight: 700;
        }
        &--little {
            font-size: 15px;
        }
    }
}