.prizes {
    width: 100%;
    min-height: 586px;
    margin-top: -150px;
    color: #280a21;
    &-content {
        max-width: 1300px;
        margin: 0 auto 100px;
        text-align: center;
        position: relative;
        border: 1px solid blue;
    }
    &-cards {
        display: flex;
        justify-content: space-around;
        margin: auto;
        margin-top: 50px;
        max-width: 1064px;
        @media all and (max-width: 1000px) {
            max-width: 900px;
        }
    }
    &-item {
        width: 303px;
        max-height: 385px;
        background-color: white;
        font-size: 18px;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
        &:hover {
            transform: scale(1.01);
        }
        &--left {
            margin-left: 80px;
            @media all and (max-width: 1000px) {
                margin-left: 50px;
            }
        }
    }
    &-img {
        border-radius: 100%;
        width: 145px;
        height: 145px;
        margin: 40px auto 25px;
        overflow: hidden;
    }
    &-text {
        margin: 35px 0 50px;
    }
    &-info {
        width: 215px;
        height: 215px;
        border-radius: 100%;
        color: white;
        background-color: #3c0336;
        position: absolute;
        font-size: 18px;
        right: -50px;
        bottom: -140px;
        text-align: center;
        padding-top: 50px;
        @media all and (max-width: 1200px) {
            width: 150px;
            height: 150px;
            font-size: 16px;
            right: -20px;
            padding-top: 10px;
        }
        &--big {
            font-size: 40px;
            font-weight: 700;
            @media all and (max-width: 1000px) {
                font-size: 30px;
            }
        }
        &--span {
            font-size: 20px;
            font-weight: 700;
            margin-top: 10px;
        }
        &--little {
            font-size: 15px;
        }
    }
}