.works {
    width: 100%;
    height: 940px;
    padding: 70px 0 75px;
    font-size: 18px;
    text-align: center;
    background-color: #f8fafc;
    &-card {
        max-width: 750px;
        margin: auto;
        display: flex;
    }
    &-column {
        display: flex;
        flex-direction: column;
     
    }
    &-btn {
        background-color: #3c0336;
        color: white;
    }
}

.portfolio-works {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    border: 1px solid red;
}